www.jizzaxrest.uz {
    redir https://jizzaxrest.uz{uri}
}

jizzaxrest.uz {
    # API so'rovlarini Backendga yo'naltirish (Specific path first)
    handle /api/v1/* {
        reverse_proxy backend:8000
    }

    # Frontendni xizmat ko'rsatish (Catch-all last)
    handle /* {
        reverse_proxy frontend:80
    }

    # Loglar
    log {
        output file /var/log/caddy/access.log
    }
}
