fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
pydantic[email]
pydantic-settings
python-dotenv
python-multipart
jose[cryptography]
passlib[bcrypt]
redis
asyncio
databases
httpx
Pillow
pillow-heif
